.git
.github
.agents
.claude
.tmp
.env
__pycache__
*.py[cod]
*.log
*.tar
*.tar.gz
data/*
!data/avatars/
data/avatars/*
!data/avatars/ditto_woman/
!data/avatars/ditto_woman/source.mp4
!data/avatars/ditto_woman/idle.mp4
!data/avatars/ditto_man/
!data/avatars/ditto_man/source.mp4
!data/avatars/ditto_man/idle.mp4
!data/avatars/ditto_man_clinic/
!data/avatars/ditto_man_clinic/source.mp4
!data/avatars/ditto_man_clinic/idle.mp4
!data/avatars/ditto_woman_teacher/
!data/avatars/ditto_woman_teacher/source.mp4
!data/avatars/ditto_woman_teacher/idle.mp4
!data/avatars/ditto_malaywoman/
!data/avatars/ditto_malaywoman/source.mp4
!data/avatars/ditto_malaywoman/idle.mp4
!data/avatars/ditto_caucasian/
!data/avatars/ditto_caucasian/source.mp4
!data/avatars/ditto_caucasian/idle.mp4
models
checkpoints
ditto310
ditto_pydeps
ditto-talkinghead
.cache
